body {
    background-color: rgba(52, 52, 52, 1);
}

header {
    background-color: rgba(113, 193, 193, 1)
}

p {
    font-size: 70px;
}

.Titres {
    text-align: center;
    font-size: 100px;
    color: rgba(47, 206, 228, 1);
}

.paragh {
    color: white;
}